body {
    background-color: #011313;
    box-sizing: border-box;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}
.banner {
    width: 100%;
    height: 132vh;
    position: relative;
}
.banner>#banner>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999;
}
.lucas-container>#lucas {
    width: 25%;
    z-index: 999;
}
.lucas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.social {
    position: sticky;
    font-size: 1.8rem;
    text-align: center; 
    font-weight: 800;
    word-spacing: 1.656rem;
    bottom: 0.2rem;
    width: calc(100%-20rem);
    margin-left: 10rem;
    margin-right: 10rem;
}
#youtube {
    color:#ffebeb;
}
#youtube:hover {
    color: hsl(0, 90%, 86%);
    transition: 0.0001s;
}
#twitch {
    color:#f6ebff"
}
#twitch:hover {
    color:hsl(273, 90%, 86%);
    transition: 0.0001s;
}
#spotify {
    color:#dfffea;
}
#spotify:hover {
    color:hsl(141, 90%, 84%);
    transition: 0.0001s;
}
#discord {
    color:#ecefff;
}
#discord:hover {
    color:hsl(231, 90%, 86%);
    transition: 0.0001s;
}
#reddit {
    color:#ffe7df;
}
#reddit:hover {
    color:hsl(15, 90%, 84%);
    transition: 0.0001s;
}
#twitter {
    color:#e2f6ff;
}
#twitter:hover {
    color:hsl(199, 90%, 84%);
    transition: 0.0001s;
}
#instagram {
    color: #ffd6e8;
}
#instagram:hover {
    color: hsl(334, 90%, 82%);
    transition: 0.0001s;
}
#steam {
    color:#dbf2ff;
}
#steam:hover {
    color:hsl(202, 90%, 83%);
    transition: 0.0001s;
}
#tiktok {
    color: #ffdde5;
}
#tiktok:hover {
    color: hsl(346, 90%, 83%);
    transition: 0.0001s;
}
.text {
    max-width: 580px;
    margin: auto;
    padding: 0rem 4rem 10rem 4rem;
}
.text>h1 {
    text-align: center;
    font-size: 8rem;
    font-weight: 700;
}
.text>p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.4rem;
    font-weight: 200;
}

.profile {
    display: flex;
}
.profile-pic-container {
    border-radius: 1rem;
    width: 33%;
    height: 12rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.profile-pic-container>img {
    object-fit: cover;
    height: 12rem;
}
.profile-info {
    width: 66%;
    margin-left: 1.5rem;
}
.name {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
}
.description {
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 809px) {

    .social {
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: 5.3vw;
        bottom: 2rem;
    }

    .lucas-container>#lucas {
        width: 50%;
    }

    .text>h1 {
        font-size: 25vw;
    }

    .profile {
        display: contents;
    }
    .profile-pic-container {
        width: 80vw;
        height: 80vw;
        background-color: red;
    }
    
    .profile-pic-container>img {
        height: 42rem;
    }

    .profile-info {
        width: 80vw;
    }
    .name {
        font-size: 11vw;
    }
    .description {
        font-size: 4vw;
    }
}