body {
    background-color: #011313;
}
main {
    display: flex;
    justify-content: center;
}
.grid {
    width: 50rem;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid>a, .grid>a:visited {
    background-color: #162222;
    color: rgb(255, 255, 255);
    text-decoration: none;

    padding: 1rem;
    width: 20rem;
    height: 14rem;
    margin: 1rem;
    justify-self: center;
    border-radius: 0.5rem;
    transition: 0.4s ease;
    overflow: hidden;
}
.grid>a:hover {
    padding: 0.2rem 1rem 2rem 1rem;

    transform: scale(1.2);
    transition: 0.7s ease;
}

img {
    object-fit: cover;
    scale: 140%;
}
.img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;

    width: 100%;
    height: 10rem;
    background-color: red;
    border-radius: 0.33rem;

    transition: 0.4s ease;
}
.grid>a:hover .img-container {
    transform: scale(0.85);
    transition: 0.7s ease;
}

.title {
    transition: 0.4s ease;
}
.grid>a:hover .title {
    margin: 0;
    transform: scale(0.85);
    transition: 0.7s ease;
}

.desc {
    margin: 0;

    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}
.grid>a:hover .desc {
    visibility: visible ;
    opacity: 1;
    transition: 0.7s ease;
}